.body{
    background-color:#3dcf18;
}
.textArea{
    position: relative;
    
}

@media screen and (min-width:480px){
    .text{
        position: absolute;
        color : white;
        top: 20%;
        left :30%;
    }
}

@media screen and (min-width:1024px){
    .text{
        position: absolute;
        color : white;
        top: 20%;
        left :30%;
    }
}

