@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
dt{
    font-family: 'Noto Sans JP', sans-serif;
}
dd{
    font-family: 'Noto Sans JP', sans-serif;
}
.Profile-title{
    text-align: center;
    margin-bottom: 5px;
    color : white;
}
.Profile-text-h1{
    font-size: 48px;
    line-height: 1.3;
    margin-bottom:0;
}
.Profile-text-h2{
    font-size: 36px;
    line-height:1.3;
    margin-bottom:0;
}
.Profile-body{
    margin: 10%;
    padding: 5%;
    border-radius: 10px;
    background-color:#7EBB5D;
    box-sizing:border-box;
}
.Profile-comp{
    display: block;
    box-sizing:border-box;
}
.Profile-subcomp{
    height:100%;
    margin:10%;
}
.Profile-image{
    height: 100%;
    width:100%;
}
.Profile-text{
    color : white;
}

@media screen and (min-width:480px) {
    .Profile-body{
        background-color:#7EBB5D;
    }

}

@media screen and (min-width:768px) {
    .Profile-comp {
        margin-top: 5%;
    } 
    .Profile-subcomp{
        margin-right: 10%;
    }
    .Profile-image{
        margin-top: 10%;
    }
}

@media screen and (min-width:1024px) {
    .Profile-body{
        margin:5%;
    }
    .Profile-comp {
        display: flex;
        margin-top:0;
        margin-left: 5%;
    } 
    .Profile-subcomp{
        width: 30%;
        margin-right:5%;
        margin-bottom:0;
    }
    .Profile-image{
        margin-top: 10%; 
    }
    dt{
        font-size: 18px;
    }
    dd{
        font-size: 14px;
    }
}
