.Profile-body{
    height: 60vh;
    width: 100%;
    background-color:#7EBB5D;
}
.Profile-title{
    text-align: center;
    margin-bottom: 5px;
    color : white;
}
.Profile-image{
    width:50vh;
    height:50vh;
    margin-left: 40%;
}
.Profile-comp{
    width:100%;
    height:80%;
    display: flex;
}
.Profile-subcomp{
    width:50%;
    height:100%;
    margin:0;
    color : white;
}
.Profile-text-h1{
    font-size: 48px;
    line-height: 1.3;
    margin-bottom:0;
}
.Profile-text-h2{
    font-size: 36px;
    line-height:1.3;
    margin-bottom:0;
}

@media screen and (max-width:425px){
    .Profile-text-h1{
        font-size: 24px;
    }
    .Profile-text-h2{
        font-size: 20px;
    }
    .Profile-comp{
        display: inline-block;
    }
}
