.Profile-title{
    text-align: center;
    margin-bottom: 5px;
    color : white;
}
.Profile-text-h1{
    font-size: 48px;
    line-height: 1.3;
    margin-bottom:0;
}
.Profile-text-h2{
    font-size: 36px;
    line-height:1.3;
    margin-bottom:0;
}
.Profile-body{
    width: 100%;
    padding: 5%;
}
.Profile-comp{
    display: block;
    box-sizing:border-box;
}
.Profile-subcomp{
    height:100%;
    margin:10%;
}
.Profile-image{
    height: 100%;
    width:100%;
}
.Profile-text{
    color : white;
}

@media screen and (min-width:480px) {
    .Profile-body{
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    .Profile-comp {
        display: flex;
        margin-top: 5%;
    } 
    .Profile-subcomp{
        width: 30%;
        margin-right: 10%;
    }
    .Profile-image{
        margin-top: 30%;
    }
}

@media screen and (min-width:1024px) {
    .Profile-comp{
        display: flex;
    }
    .Profile-subcomp{
        width: 50%;
    }
}
